@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: rgb(219, 219, 219);
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    background: #fff;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo a{
    color: #8cb369;
    font-size: 18px;
    font-weight: 600;
    margin: 2rem 8rem 2rem 2rem;
  }
  .search_box{
    display: flex;
    align-items: center;
  }
  .search_box input{
    padding: 9px;
    width: 250px;
    background: rgb(228, 228, 228);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .search_box i{
    padding: 0.66rem;
    cursor: pointer;
    color: #fff;
    background: #8cb369;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .header-icons{
    display: flex;
    align-items: center;
  }
  .header-icons i{
    margin-right: 2rem;
    cursor: pointer;
  }
  .header-icons .account{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-icons .account img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
  }
  .container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Side menubar section */
  nav{
    background: #fff;
  }
  .side_navbar{
    padding: 1px;
    display: flex;
    flex-direction: column;
  }
  .side_navbar span{
    color: black;
    margin: 1rem 3rem;
    font-size: 12px;
  }
  .side_navbar a{
    width: 117%;
    padding: 0.8rem 2rem;
    font-weight: 500;
    font-size: 15px;
  }

  .side_navbar a:hover{
    background: grey;
  }
  .side_navbar .active{
    border-left: 1px solid rgb(100, 100, 100);
  }

  .side_navbar ul a{
    color: #8cb369;
    display: block;
  }
  .side_navbar a .fas{
    width: 25px;
  }

  /* Main Body Section */
  .main-body{
    width: 100%;
    padding: 1rem;
  }
  .promo_card{
    width: 100%;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    background: #8cb369;
  }
  .promo_card h1, .promo_card span, button{
    margin: 10px;
  }
  .promo_card button{
    display: block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }

  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  .card:first-child {
    border-left: 7px solid #246dec;
  }
  
  .card:nth-child(2) {
    border-left: 7px solid #f5b74f;
  }
  
  .card:nth-child(3) {
    border-left: 7px solid #367952;
  }
  
  .card:nth-child(4) {
    border-left: 7px solid #cc3c43;
  }
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > p {
    font-size: 18px;
  }
  
  .card-inner > span {
    font-size: 35px;
  }